doctype html
html(lang="en")
  head
  body
     h1 Hi #{username}!
     p You recently requested a link to reset your raven password.
     p Please set a new password by following the link below:
     - url = `https://antreactfire-chat-demo.herokuapp.com/resetpassword/?resetpasswordkey=${resetKey}`
     a(href=url) Reset Password


         //-  - url = `http://localhost:3000/api/auth/resetpassword/${resetKey}`
